@model IEnumerable<Object>
@{
    List<ThikanaClassifieds.Models.Classifieds_Category> CCategory = Model.ToList()[0] as List<ThikanaClassifieds.Models.Classifieds_Category>;
    List<ThikanaClassifieds.Models.Classifieds_Items> CItems = Model.ToList()[1] as List<ThikanaClassifieds.Models.Classifieds_Items>;
    //ThikanaClassifieds.Models.Classifieds_Item_Image CItemsImg = Model.ToList()[2] as ThikanaClassifieds.Models.Classifieds_Item_Image;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jssor.slider-23.1.0.min.js"></script>
<script type="text/javascript">
    jssor_1_slider_init = function () {

        var jssor_1_options = {
            $AutoPlay: 1,
            $AutoPlaySteps: 5,
            $SlideDuration: 160,
            $SlideWidth: 300,
            $SlideSpacing: 4,
            $Cols: 5,
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 5
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 1,
                $SpacingY: 1
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*responsive code begin*/
        /*remove responsive code if you don't want the slider scales while window resizing*/
        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1200);
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $Jssor$.$AddEvent(window, "load", ScaleSlider);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
        /*responsive code end*/
    };
</script>
<style>
    /* jssor slider bullet navigator skin 03 css */
    /*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
    .jssorb03 {
        position: absolute;
    }

        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb03 div {
            background-position: -5px -4px;
        }

            .jssorb03 div:hover, .jssorb03 .av:hover {
                background-position: -35px -4px;
            }

        .jssorb03 .av {
            background-position: -65px -4px;
        }

        .jssorb03 .dn, .jssorb03 .dn:hover {
            background-position: -95px -4px;
        }

    /* jssor slider arrow navigator skin 03 css */
    /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        .jssora03l.jssora03ldn      (disabled)
        .jssora03r.jssora03rdn      (disabled)
        */
    .jssora03l, .jssora03r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url('img/a03.png') no-repeat;
        overflow: hidden;
    }

    .jssora03l {
        background-position: -3px -33px;
    }

    .jssora03r {
        background-position: -63px -33px;
    }

    .jssora03l:hover {
        background-position: -123px -33px;
    }

    .jssora03r:hover {
        background-position: -183px -33px;
    }

    .jssora03l.jssora03ldn {
        background-position: -243px -33px;
    }

    .jssora03r.jssora03rdn {
        background-position: -303px -33px;
    }

    .jssora03l.jssora03lds {
        background-position: -3px -33px;
        opacity: .3;
        pointer-events: none;
    }

    .jssora03r.jssora03rds {
        background-position: -63px -33px;
        opacity: .3;
        pointer-events: none;
    }
</style>
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="contbody">
            <h1>World’s Largest Classifieds Portal</h1>
            <h3>Search from over 15,00,000 classifieds & Post unlimited classifieds free!</h3>

            <div class="col-xs-12">
                <div class="col-sm-2"></div>
                <div class="navbar-search" href="#">
                    <form class="search-form col-sm-8" action="/home/searchResult" method="post">
                        <input class="form-control col-sm-10" type="search" name="searchtext" id="search" placeholder="Search...">
                        @*<span class="input-group-btn">*@
                        <button class="btn btn-default" style="position:absolute;" type="submit">SEARCH</button>
                        @*</span>*@
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="social">
                <a href=""><img src="~/Content/img/Facebook.png" /></a>
                <a href=""><img src="~/Content/img/twiter.png" /></a>
                <a href=""><img src="~/Content/img/YouTube.png" /></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="background-color:white;">
        <div class="category" id="2">
            
            @foreach(var item in CCategory)
            { 
            <a href="~/Home/Adspage/@item.Classifieds_Category_Id">
                <div class="col-sm-2">
                    <div class="categoryinfo">
                        <img src="~/@item.Classifieds_Category_Image" />
                        <h4>@item.Classifieds_Category_Name</h4>                       
                    </div>
                </div>
            </a>
            }           
        </div>
    </div>
    <div class="col-sm-12" style="background-color: white; background-color: white; margin-top: 20px; padding-top: 20px; padding-bottom: 20px;">
        <div class="slider">
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:175px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:30px;width:1200px;height:175px;overflow:hidden;">
                    @foreach(var item in CItems)
                    { 
                      if(@item.Its_Premium=="1")
                      {                           
                    <div>
                        <a href="~/Home/ViewAds/@item.Classifieds_Item_Id"> <img src="~/@item.Classifieds_Item_Image.FirstOrDefault().Classifieds_Item_Image1" /></a>       
                                  
                    </div>
                        
                    @*<div>

                        <a href=""> <img src="~/Content/img/AdsImg/guitar.jpg" /></a>

                    </div>
                    <div>

                        <a href=""> <img src="~/Content/img/AdsImg/laptop.jpg" /></a>

                    </div>
                    <div>

                        <a href=""> <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" /></a>

                    </div>*@
                    
                    @*<div>
                        <img src="~/Content/img/AdsImg/car.jpg" />

                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/guitar.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/guitar.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/car.jpg" />

                    </div>
                    <div>
                        <img src="~/Content/img/AdsImg/guitar.jpg" />

                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/car.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/laptop.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" />
                    </div>
                    <div>


                        <img src="~/Content/img/AdsImg/car.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/laptop.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/guitar.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/guitar.jpg" />
                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/car.jpg" />

                    </div>
                    <div>

                        <img src="~/Content/img/AdsImg/laptop.jpg" />

                    </div>
                    <div>
                        <img src="~/Content/img/AdsImg/lava-a67-dual-sim-android-mobile-phone-medium_3a86d70832ad27694f49cea1aba8dd81.jpg" />
                    </div>*@
                            }
                        }
                    }   
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">
                    <!-- bullet navigator item prototype -->
                    <div data-u="prototype" style="width:21px;height:21px;">
                        <div data-u="numbertemplate"></div>
                    </div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora03r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
        </div>
    </div>

<div class="col-sm-1">

</div>
<div class="col-sm-10">
    <div class="col-sm-12" style="background-color:white; margin-top:20px;">
        <div class="FeaturedAds1">
            <div class="FeaturedAds">
                <h3>Trending Ads</h3>
            </div>
            <div class="col-sm-12" style=" margin-top: 10px; margin-bottom: 10px;">
                <div class="ads1">
                    @foreach (var item in CItems)
                    {
                        
                        <div class="col-sm-3 well">
                            <div class="ads1img">
                                <a href="~/Home/ViewAds/@item.Classifieds_Item_Id"> <img src="~/@item.Classifieds_Item_Image.FirstOrDefault().Classifieds_Item_Image1" /></a>
                            </div>
                        </div>
                        <div class="col-sm-9 well">
                            <div class="ads1txt">
                                <h3>Price: $@item.Classifieds_Item_Price</h3>
                                <p id="1">Location: @item.Classifieds_Category.Classifieds_Category_Name</p>
                                <a href="~/Home/ViewAds/@item.Classifieds_Item_Id"><h3>@item.Classifieds_Item_Titel</h3></a>  
                                <div class="adstime">
                                    <p>@item.Date &nbsp; &nbsp; @item.Classifieds_Item_Location</p> 
                                </div>                             
                            </div>                          
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-1">

</div>

        
    </div>
<script type="text/javascript">jssor_1_slider_init();</script>
<script>
    $("input[name=searchtext]").on("keyup", function () {
        $.post("/home/AutoSuggest", { searchtext: $("input[name=searchtext]").val() }, function (result) {
            $("input[name=searchtext]").autocomplete({
                minLength: 0,
                source: result
            }).autocomplete("search", "");
        }, "json");
    });


</script>